@font-face {
  font-family: "Gilroy";
  src: url("Assets/Fonts/Gilroy-Regular.woff") format("woff"),
    url("Assets/Fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("Assets/Fonts/Gilroy-Bold.woff2") format("woff"),
    url("Assets/Fonts/Gilroy-Bold.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Gilroy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "Gilroy";
}
